<div class="container-fluid" >
<div class="container p-2">
    <div class="py-4 text-center">
      <h2 style="color: black;">Billing Details</h2>
    </div>
    <div style="border: 1px solid black; padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px;width: 60%;margin-left: auto;margin-right: auto;">
    <div class="row">
      
      <div class="col-md-12" style="color: black;">
       <!--  <h4 class="mb-3">Billing Details</h4> -->
        <form class="needs-validation" novalidate>
          
          <label  for="pay">Choose payment method</label>
          <div class="d-block my-3">
            <div class="custom-control custom-radio ">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Credit card</label>
              
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="Full name as displayed on card" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
            </div>
          </div>
            
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Purchase</button>
        </form>
      </div>
    </div>
  </div>

</div>
</div>
