<div class="container-fluid" id="home">

	<nav class="navbar navbar-expand-md navbar-light sticky-top" id="top">
		<div class="container-fluid">
			<a class="navbar-brand " [routerLink]="['/index']" id="icon" style="color: rgb(136, 0, 0); font-size: 3rem;">U Learn.com</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="dropdown" id="drop">
					<button class="dropbtn">Login</button>
					<div class="dropdown-content">
						<a onclick="myFunction1()">User</a>
						<a onclick="myFunction2()">Mentor</a>
						<a onclick="myFunction3()">Admin</a>
					</div>
				</div>
		</div>
	</nav>
	<div class="container-fluid" id="home-content">
		<div class="row ">
			<div class="col-md-12" style="padding-left:8px;">
				<h1 style="color:white;padding-bottom: 20px;text-shadow: 2px 2px 4px #000000;text-align: left;">Endless oppurtunities awaiting..</h1>
			</div>
			<div class="col-md-12">
				<h3 style="color:white;padding-bottom: 20px;text-shadow: 2px 2px 4px #000000;text-align: left;">Are You Ready to Explore Yourself?</h3>
			</div>
			<div class="col-md-12">
				<button [routerLink]="['/user-nologin']" class="get-started-btn" style="background-color:#DD2337">Get Started</button><hr>
				
			</div>
		</div>
	</div>
</div>





<footer>
	<div class="container-fluid" style="background: black">
		<div class="row text-center">
			<div class="col-md-12">
				
				<hr class="light">
				<span> Swagata Nath© All Rights Reserved</span>
				<hr class="light">
			</div>
		</div>
	</div>
</footer>

<div id="id01" class="modal">
	<div class="container-fluid modal-content animate">
		<div class="row">
			<div class="col-md-12">
				<h3 style="padding: 20px;text-align: center;padding-bottom: 50px;">User Login</h3>
				<span onclick="document.getElementById('id01').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<form [formGroup]="UserLogin" autocomplete="off" (submit)="onSubmit1(UserLogin)">
					<div class="form-group required">
						<label>Email</label>
						<input class="form-control" formControlName="email">
						<small class="text-danger"
							*ngIf="UserLogin.get('email').touched && UserLogin.get('email').errors?.required">This field
							is mandatory</small>
						<small class="text-danger"
							*ngIf="UserLogin.get('email').touched && UserLogin.get('email').errors?.pattern">Invalid
							Email Address</small>
					</div>
					<div class="form-group required">
						<label>Password</label>
						<input class="form-control" formControlName="password">
						<small class="text-danger"
							*ngIf="UserLogin.get('password').touched && UserLogin.get('password').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="UserLogin.get('password').touched && UserLogin.get('password').errors?.minlength">Minimun
							8 characters required</small>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12 ">
							<button class="btn btn-lg btn-block login" [disabled]="!UserLogin.valid">Login</button>
						</div>
					</div>

				</form>
				<div style="padding-bottom: 20px;">Don't have an account? Click here to <a style="color:blue"
						onclick="myFunction4()">Sign up </a> </div>
			</div>
		</div>
	</div>>
</div>

<div id="id02" class="modal">
	<div class="container-fluid modal-content animate">
		<div class="row">
			<div class="col-md-12">
				<h3 style="padding: 20px;text-align: center;padding-bottom: 50px;">Mentor Login</h3>
				<span onclick="document.getElementById('id02').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<form [formGroup]="MentorLogin" autocomplete="off" (submit)="onSubmit2(MentorLogin)">
					<div class="form-group required">
						<label>Email</label>
						<input class="form-control" formControlName="email">
						<small class="text-danger"
							*ngIf="MentorLogin.get('email').touched && MentorLogin.get('email').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorLogin.get('email').touched && MentorLogin.get('email').errors?.pattern">Invalid
							Email Address</small>
					</div>
					<div class="form-group required">
						<label>Password</label>
						<input class="form-control" formControlName="password">
						<small class="text-danger"
							*ngIf="MentorLogin.get('password').touched && MentorLogin.get('password').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorLogin.get('password').touched && MentorLogin.get('password').errors?.minlength">Minimun
							8 characters required</small>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12 ">
							<button class="btn btn-lg btn-block login" [disabled]="!MentorLogin.valid">Login</button>
						</div>
					</div>

				</form>
				<div style="padding-bottom: 20px;">Don't have an account? Click here to <a style="color:blue;"
						onclick="myFunction5()">Sign up </a> </div>
			</div>
		</div>
	</div>
</div>
<div id="id03" class="modal">
	<div class="container-fluid modal-content animate">
		<div class="row">
			<div class="col-md-12">
				<h3 style="padding: 20px;text-align: center;padding-bottom: 50px;">Admin Login</h3>
				<span onclick="document.getElementById('id03').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<form [formGroup]="AdminLogin" autocomplete="off" (submit)="onSubmit3(AdminLogin)">
					<div class="form-group required">
						<label>Email</label>
						<input class="form-control" formControlName="email">
						<small class="text-danger"
							*ngIf="AdminLogin.get('email').touched && AdminLogin.get('email').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="AdminLogin.get('email').touched && AdminLogin.get('email').errors?.pattern">Invalid
							Email Address</small>
					</div>
					<div class="form-group required">
						<label>Password</label>
						<input class="form-control" formControlName="password">
						<small class="text-danger"
							*ngIf="AdminLogin.get('password').touched && AdminLogin.get('password').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="AdminLogin.get('password').touched && AdminLogin.get('password').errors?.minlength">Minimun
							8 characters required</small>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12 ">
							<button class="btn btn-lg btn-block login" [disabled]="!AdminLogin.valid">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="id04" class="modal">
	<div class="container-fluid modal-content animate">
		<div class="row">
			<div class="col-md-12">
				<h3 style="padding: 20px;text-align: center;padding-bottom: 50px;">User Sign Up</h3>
				<span onclick="document.getElementById('id04').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<form [formGroup]="UserRegister" autocomplete="off" (submit)="onSubmit4(UserRegister)">
					<div class="form-row">
						<div class="form-group col required">
							<label>First Name</label>
							<input class="form-control" formControlName="firstName">
							<small class="text-danger"
								*ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.required">This
								field is mandatory</small>
							<small class="text-danger"
								*ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.pattern">Name
								cannot have special characters or digits</small>
						</div>
						<div class="form-group col required">
							<label>Last Name</label>
							<input class="form-control" formControlName="lastName">
							<small class="text-danger"
								*ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.required">This
								field is mandatory</small>
							<small class="text-danger"
								*ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.pattern">Name
								cannot have special characters or digits</small>
						</div>
					</div>
					<div class="form-group required">
						<label>UserName</label>
						<input class="form-control" formControlName="userName">
						<small class="text-danger"
							*ngIf="UserRegister.get('userName').touched && UserRegister.get('userName').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="UserRegister.get('userName').touched && UserRegister.get('userName').errors?.pattern">Name
							cannot have special characters or digits</small>
					</div>
					<div class="form-group required">
						<label>Email</label>
						<input class="form-control" formControlName="email">
						<small class="text-danger"
							*ngIf="UserRegister.get('email').touched && UserRegister.get('email').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="UserRegister.get('email').touched && UserRegister.get('email').errors?.pattern">Invalid
							Email Address</small>
					</div>
					<div class="form-group required">
						<label>Phone Number</label>
						<input class="form-control" formControlName="contactNumber">
						<small class="text-danger"
							*ngIf="UserRegister.get('contactNumber').touched && UserRegister.get('contactNumber').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="UserRegister.get('contactNumber').touched && UserRegister.get('contactNumber').errors?.pattern">Invalid
							Phone Number</small>
					</div>
					<div class="form-group required">
						<label>Enter Password</label>
						<input class="form-control" formControlName="password">
						<small class="text-danger"
							*ngIf="UserRegister.get('password').touched && UserRegister.get('password').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="UserRegister.get('password').touched && UserRegister.get('password').errors?.minlength">Minimun
							8 characters required</small>
					</div>
					<div class="form-group required">
						<label>Confirm Password</label>
						<input class="form-control" formControlName="confirmPassword">
						<small class="text-danger"
							*ngIf="UserRegister.get('confirmPassword').touched && UserRegister.get('confirmPassword').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="UserRegister.get('confirmPassword').touched && UserRegister.get('confirmPassword').errors?.mustMatch">Confirm
							Password does not match</small>
					</div>

					<div class="form-row">
						<div class="form-group col-md-12 ">
							<button class="btn btn-lg btn-block login" [disabled]="!UserRegister.valid">Sign Up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="id05" class="modal">
	<div class="container-fluid modal-content animate">
		<div class="row">
			<div class="col-md-12">
				<h3 style="padding: 20px;text-align: center;padding-bottom: 50px;">Mentor Sign Up</h3>
				<span onclick="document.getElementById('id05').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<form [formGroup]="MentorRegister" autocomplete="off" (submit)="onSubmit5(MentorRegister)">
					<div class="form-row">
						<div class="form-group col required">
							<label>First Name</label>
							<input class="form-control" formControlName="firstName">
							<small class="text-danger"
								*ngIf="MentorRegister.get('firstName').touched && MentorRegister.get('firstName').errors?.required">This
								field is mandatory</small>
							<small class="text-danger"
								*ngIf="MentorRegister.get('firstName').touched && MentorRegister.get('firstName').errors?.pattern">Name
								cannot have special characters or digits</small>
						</div>
						<div class="form-group col required">
							<label>Last Name</label>
							<input class="form-control" formControlName="lastName">
							<small class="text-danger"
								*ngIf="MentorRegister.get('lastName').touched && MentorRegister.get('lastName').errors?.required">This
								field is mandatory</small>
							<small class="text-danger"
								*ngIf="MentorRegister.get('lastName').touched && MentorRegister.get('lastName').errors?.pattern">Name
								cannot have special characters or digits</small>
						</div>
					</div>
					<div class="form-group required">
						<label>UserName</label>
						<input class="form-control" formControlName="userName">
						<small class="text-danger"
							*ngIf="MentorRegister.get('userName').touched && MentorRegister.get('userName').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorRegister.get('userName').touched && MentorRegister.get('userName').errors?.pattern">Name
							cannot have special characters or digits</small>
					</div>
					<div class="form-group required">
						<label>Email</label>
						<input class="form-control" formControlName="email">
						<small class="text-danger"
							*ngIf="MentorRegister.get('email').touched && MentorRegister.get('email').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorRegister.get('email').touched && MentorRegister.get('email').errors?.pattern">Invalid
							Email Address</small>
					</div>
					<div class="form-group required">
						<label>Phone Number</label>
						<input class="form-control" formControlName="contactNumber">
						<small class="text-danger"
							*ngIf="MentorRegister.get('contactNumber').touched && MentorRegister.get('contactNumber').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorRegister.get('contactNumber').touched && MentorRegister.get('contactNumber').errors?.pattern">Invalid
							Phone Number</small>
					</div>
					<div class="form-group required">
						<label>LinkedIn URL</label>
						<input class="form-control" formControlName="linkdinUrl">
						<small class="text-danger"
							*ngIf="MentorRegister.get('linkdinUrl').touched && MentorRegister.get('linkdinUrl').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorRegister.get('linkdinUrl').touched && MentorRegister.get('linkdinUrl').errors?.pattern">Invalid
							LinkedIn URL</small>
					</div>
					<div class="form-group required">
						<label>Years of Experience</label>
						<input class="form-control" formControlName="yearOfExperience">
						<small class="text-danger"
							*ngIf="MentorRegister.get('yearOfExperience').touched && MentorRegister.get('yearOfExperience').errors?.required">This
							field is mandatory</small>
					</div>
					<div class="form-group required">
						<label>Technology</label>
						<select formControlName="technology" class="rounded dropdown form-control">
							<option value="" disabled>Choose your technology</option>
							<option value="{{items.name}}" *ngFor="let items of skillData">{{items.name}}</option>
						</select>
						<small class="text-danger"
							*ngIf="MentorRegister.get('technology').touched && MentorRegister.get('technology').errors?.required">This
							field is mandatory</small>
					</div>
					<div class="form-group required">
						<label>Enter Password</label>
						<input type="password" class="form-control" formControlName="password">
						<small class="text-danger"
							*ngIf="MentorRegister.get('password').touched && MentorRegister.get('password').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorRegister.get('password').touched && MentorRegister.get('password').errors?.minlength">Minimun
							8 characters required</small>
					</div>
					<div class="form-group required">
						<label>Confirm Password</label>
						<input type="password" class="form-control" formControlName="confirmPassword">
						<small class="text-danger"
							*ngIf="MentorRegister.get('confirmPassword').touched && MentorRegister.get('confirmPassword').errors?.required">This
							field is mandatory</small>
						<small class="text-danger"
							*ngIf="MentorRegister.get('confirmPassword').touched && MentorRegister.get('confirmPassword').errors?.mustMatch">Confirm
							Password does not match</small>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12 ">
							<button class="btn btn-lg btn-block login" [disabled]="!MentorRegister.valid">Sign
								Up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>