<div class="container-fluid py-5"  id="home">
        <div class="row py-5">
            <div class="col-md-2"></div>
            <div class="col-sm-8">
                <div class="card card-signin">
                    <div class="card-body">
                        <h3 class="card-title text-center">Send Request</h3>
    
                        <form class="form-signin" (submit)="onSubmit()">
                            <div class="form-label-group py-1">
                                <label for="timeSlot">Time Slot</label>
                                <select [(ngModel)]="timeSlot" id="timeSlot" name="timeSlot"
                                    class="form-control mb-2 rounded text-center">
                                    <option value=" " disabled>Select TimeSlot</option>
                                    <option value="09:00 AM - 12:00 PM">09:00 AM - 12:00 PM</option>
                                    <option value="12:00 PM - 03:00 PM">12:00 PM - 03:00 PM</option>
                                    <option value="03:00 PM - 06:00 PM">03:00 PM - 06:00 PM</option>
                                    <option value="06:00 PM - 09:00 PM">06:00 PM - 09:00 PM</option>
                                </select>
                            </div>
                            <div class="form-label-group py-1">
                                <label for="startDate">Start Date</label>
                                <input type="date" name="startDate" [(ngModel)]="startDate" class="form-control" required
                                    autofocus>
                            </div>
    
                            <div class="form-label-group py-1">
                                <label for="endDate">End Date</label>
                                <input type="date" name="endDate" [(ngModel)]="endDate" class="form-control" required
                                    autofocus>
                            </div>
    
                            <div *ngIf="userData" class="form-label-group py-1">
                                <label for="yourName">Your Name</label>
                                <input type="text" name="yourName" disabled value="{{userData.userName}}" class="form-control" required
                                    autofocus>
                            </div>
    
                            <div *ngIf="trainerData" class="form-label-group py-1">
                                <label for="UserName">Trainer Name</label>
                                <input type="text" name="userName" disabled value="{{trainerData.userName}}"
                                    class="form-control" required autofocus>
                            </div>
    
                            <div *ngIf="trainerData" class="form-label-group py-1">
                                <label for="email">Trainer Email</label>
                                <input type="text" name="email" id="email" disabled value="{{trainerData.email}}"
                                    class="form-control" required autofocus>
                            </div>
    
    
                            <div *ngIf="skillData" class="form-label-group py-1">
                                <label for="name">Technology</label>
                                <input type="text" id="name" name="name" disabled value="{{skillData.name}}"
                                    class="form-control" required autofocus>
                            </div>
    
                            <div *ngIf="skillData" class="form-label-group py-1">
                                <label for="fees">Fees</label>
                                <input type="text" id="fees" name="fees" disabled 
                                    value="{{skillData.fees}}" class="form-control" required autofocus>
                            </div>
    
    
                            <div *ngIf="skillData" class="form-label-group py-1">
                                <label for="toc">TOC</label>
                                <input type="text" name="toc" id="toc" disabled
                                    value="{{skillData.toc}}" class="form-control" required autofocus>
                            </div>
    
                            <div *ngIf="skillData" class="form-label-group py-1">
                                <label for="prerequisites">Prequisites</label>
                                <input type="text" name="prerequisites" id="prerequisites" disabled
                                     value="{{skillData.prerequisites}}"
                                    class="form-control" required autofocus>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="my-4 btn  btn-block btn-success" >Send
                                        Request</button>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"><button class="my-4 btn  btn-block btn-danger" >Cancel</button></div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>